<ion-view view-title="Lugares cercanos">

<div class="bar bar-subheader 
  item-input-inset bar-light">
  <label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" ng-model="query" placeholder="Buscar...">
  </label>
</div>

<ion-content class="has-subheader">
<div class="day" ng-repeat="(dayIndex, lugar) in lugares">
  <!--<div class="item item-divider item-divider-calm">
    {{lugar.name}}
  </div><!-- item divider -->
  <div ng-show="lugar.title" class="item item-list item-text-wrap dayhighlight">
    <h2>{{lugar.title}}</h2>
    {{lugar.description}}
  </div><!-- lugar title -->
  
  <ion-list>
    <ion-item ng-class="{'item-avatar':item.foto, 'star': item.star}"
    class="item-text-wrap item-icon-right"
    ng-repeat="item in lugar.funcionarios | filter: query"
    href="#/tab/person/{{item.pId}}">

      <img ng-show="item.foto" ng-src="{{item.foto}}" alt="{{item.nombre}} Photo">
      <h2>{{ item.areaServicio ? ' ubicado en ' + item.areaServicio : ''}}</h2>
      <h3>{{item.nombre}}</h3>
      <h4>Promedio de calificación: {{item.rating | number}}</h4>
      <p>{{ item.description }}</p>

      <button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)" ng-show="item.star"></button>
      <ion-option-button class="button-calm" ng-click="toggleStar(item)"><i class="icon ion-star"></i></ion-option-button>
      <ion-option-button class="button-assertive" ng-click="onItemDelete(dayIndex, item)"><i class="icon ion-trash-a"></i></ion-option-button>
    </ion-item>
  </ion-list>
</div><!-- repeat days -->
</ion-content>
</ion-view>