<ion-view view-title="Detalles">

<ion-content>
<div class="day">

  
  <ion-list>
    <ion-item ng-class="{'item-avatar':item.foto, 'star': item.star}"
    class="item-thumbnail-left item-text-wrap item-icon-right"
    ng-show="selectedPerson">

      <img ng-show="selectedPerson.foto" ng-src="{{selectedPerson.foto}}" alt="{{selectedPerson.nombre}} Photo">
      <h2>{{ selectedPerson.areaServicio ? ' ubicado en ' + selectedPerson.areaServicio : ''}}</h2>
      <h3>{{selectedPerson.nombre}}</h3>
      <h4>Promedio de calificación: {{selectedPerson.rating | number}}</h4>
      <p>{{ selectedPerson.description }}</p>

    </ion-item>
  </ion-list>
  <div class="item item-divider">
    Califique a este colaborador
  </div>
  <div class="list">
    <div class="item range range-assertive">
      <i class="icon ion-thumbsdown"></i>
      <input type="range" name="rating" min="1" max="5" value="3">
      <i class="icon ion-thumbsup"></i>
    </div>
  </div>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Comentarios</span>

    <textarea placeholder="Empiece a escribir aquí" rows="4" cols="10">
    </textarea>
  </label>

  <button class="button button-block button-balanced">
    Enviar datos
  </button>
</div><!-- repeat days -->
</ion-content>
</ion-view>