<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Área de servicio">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right
      item-text-wrap" type="item-text-wrap" ng-repeat="area in areaServicio" href="/#/tab/lugar/{{areaServicio.title}}/{{areaServicio.area.id}}">
        <h2>{{areaServicio.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
