<ion-view view-title="¿De dónde salió esta app?">

<ion-content>
<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="http://i.imgur.com/g4gQs4H.png">
    <p>
      Esta aplicación fue hecha en su primera versión en ULACIT (Universidad Latinoamericana de Ciencia y Tecnología), en el segundo cuatrimestre de 2015 por los estudiantes Javier Chacón Troz y Stif Cruz. <br />Como parte de la responsabilidad Social Empresarial y aprendizaje en servicio, se hicieron negociaciones con la Municipalidad de Curridabat para ofrecerles una solución para que sus colaboradores fueran calificados por los usuarios.
    </p>
  </div>

</div>
</ion-content>
</ion-view>