<ion-view view-title="Lugares cercanos">
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right
      item-text-wrap" ng-repeat="lugar in lugares" type="item-text-wrap" href="/#/tab/lugar/{{lugar.title}}">
        <img ng-src="{{lugar.picture}}">
        <h2>{{lugar.name}}</h2>
        <p>{{lugar.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>