<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="Inicio" icon-off="ion-home" icon-on="ion-home" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>

  <!-- Personal Tab --
  <ion-tab title="Personal" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/personal">
    <ion-nav-view name="tab-personal"></ion-nav-view>
  </ion-tab>-->

  <!-- Account Tab -->
  <ion-tab title="Acerca de" icon-off="ion-cube" icon-on="ion-cube" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
